<!DOCTYPE html>
<html lang="pt">

<head>
  <title>Cura Vício - História</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, , shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src="/js/menu"></script>
  <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen">
</head>

<body onload="render()">
  <div id="header"></div>

  <main>
    <div class="separador"></div>
    <article class="flexBannerMkt">
      <p>
      <p class="txtMain">
        Nossa <strong>História</strong>,<br>conheça como nasceu <br>o Cura Vício
      </p>
      </p>
      <br>
      <div class="configImgBanner">
        <img src='/img/historia.jpg' class="imgbanner">
      </div>
    </article>
    <div class="separador"></div>
    <article class="flextxt">
      <div class="txt3"> Toda conquista começa com a simples ideia de tentar, sendo assim essa foi a base para criarmos
        este espaço pra você!
        Aqui conseguiremos otimizar a entrega de informações de modo a facilitar e possibilitar as pessoas de alcançar
        seu objetivo que é se livrar de seu vício. É assim que começa nossa história. Vem conosco?
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <label>
          <div class="txt1" title="Clique para expandir quem somos">• Quem somos:</div><br>
          <input type="checkbox" />
          <div id="col3Content" class="collapse">
            <div class="txt2">&nbsp;&nbsp;&nbsp;&nbsp;Esta história começou com a união de um grupo de desenvolvedores,
              que projetaram uma plataforma digital,
              em parceria com proficionais área da saúde e psicologia, e tudo isso sem fins lucrativos. O Cura Vício foi
              criado com o intuito
              de ajudar pessoas de modo gratuito, a se informar, buscar ajuda, ter acesso a especialistas e clínicas,
              para que vc se sinta
              seguro e pronto para começar um novo passo.
              A idéia é alcançar pessoas que que não conseguem se ver livre do uso de drogas, e que precisam de
              ajuda. Levando isso como
              princípio, a forma mais eficaz de alcançar essas pessoas, é através de uma plataforma digital, que está
              disponível
              em qualquer lugar, pra que você não perca nem um segundo, quando mudar de vida for a decisão, afinal,
              esse é exatamente o
              primeiro grande passo.
              Pensamos em trabalhar em uma plataforma digital simples, útil e funcional, pra que de forma objetiva,
              pudessemos
              contribuir com a sociedade, disponibilizando assim, acessos a tratamentos ou acompanhamentos gratuitos..
            </div><br>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <label>
                <div class="txt1" title="Clique para expandir nosso objetivo">• Nosso objetivo:</div><br>
                <input type="checkbox" />
                <div id="col3Content" class="collapse">
                  <div class="txt2">&nbsp;&nbsp;&nbsp;&nbsp;O objetivo geral foi criar uma plataforma web gratuita
                    capaz auxiliar vocês usuários: dependentes químicos, codependentes, padrinhos e madrinhas, de forma
                    educativa facilitando o acesso a informações referentes aos vícios e otimizando a organização de
                    grupos de apoio possibilitando a indicação de membros interdisplinares para um tipo de ajuda
                    específica inclusive a indicação de profissionais de saúde e clínicas mais próximas.<br>&nbsp;&nbsp;&nbsp;&nbsp;
                    <br>
                    <i>Nosso objetivo é simples: alcance! E isso quer dizer que queremos alcançar principalmente você,
                    que precisa de ajuda e não tem acesso ao mínimo de informação a respeito, que precisa e quer ter
                    acesso á
                    tratamento gratuito, ou até mesmo, iniciar uma conversa com quem pode te ouvir; queremos alcançar
                    você que é coodependente
                    e precisa de apoio psicolóco e de assistência social; a você que tem algum parente, amigo ou alguém
                    que vc queira ajudar.</i>
                  </div><br>
                </div>
            </div>
          </div>
      </div>

    </article>
  </main>
  <div class="separador"></div>
  <div id="footer"></div>
</body>

</html>